@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,700&subset=latin,latin-ext);

.inw__body
  font-family 'Roboto', sans-serif;
  background-color #fff
  text-align center
  font-size 16px
  line-height 26px
  color $color-text

  hr
    height 1px
    border 0
    clear both
    display inline-block
    margin 10px auto
    border-top solid 1px $color-blue
    width 85px

  a
    color $color-blue
    text-decoration underline
