$header-size = 150px

.header
  height $header-size
  position relative

.logo
  height @width
  line-height @width
  position relative
  text-align center
  font-weight 300

  &__label
    position absolute
    width $header-size * 2
    height 100%
    left 50%
    margin-left -($header-size)
    line-height $header-size
    font-size 40px
    opacity 0
    transition opacity 2s

  &__icon
    position absolute
    display block
    width $header-size
    height @width
    line-height @width
    background-color $color-blue
    color $color-text-white
    font-size 30px
    vertical-align middle
    cursor default
    transition background-color 2s

    &:after
      content '0'

    &:hover
      background-color $color-magenta

  &__icon:hover + &__label
    opacity 1

.wrap
  width 80%
  max-width 1400px
  margin 0 auto

.intro
  float left
  width 40%
  margin-right 10%
  padding 40px 0
  text-align left

.image
  width 50%
  float left
