$color-magenta = #ea008b
$color-blue = #00aded
$color-dark = #121212
$color-text = #545454
$color-text-white = #fff

transition-all()
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments