html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,700&subset=latin,latin-ext");
.inw__body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  color: #545454;
}
.inw__body hr {
  height: 1px;
  border: 0;
  clear: both;
  display: inline-block;
  margin: 10px auto;
  border-top: solid 1px #00aded;
  width: 85px;
}
.inw__body a {
  color: #00aded;
  text-decoration: underline;
}
.inw__h2 {
  padding: 15px 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  text-transform: uppercase;
}
.inw__p {
  padding: 5px 0;
  line-height: 24px;
  font-size: 16px;
  font-weight: 300;
}
.inw__italic {
  font-style: italic;
}
.header {
  height: 150px;
  position: relative;
}
.logo {
  height: ;
  line-height: ;
  position: relative;
  text-align: center;
  font-weight: 300;
}
.logo__label {
  position: absolute;
  width: 300px;
  height: 100%;
  left: 50%;
  margin-left: -150px;
  line-height: 150px;
  font-size: 40px;
  opacity: 0;
  transition: opacity 2s;
}
.logo__icon {
  position: absolute;
  display: block;
  width: 150px;
  height: 150px;
  line-height: 150px;
  background-color: #00aded;
  color: #fff;
  font-size: 30px;
  vertical-align: middle;
  cursor: default;
  transition: background-color 2s;
}
.logo__icon:after {
  content: '0';
}
.logo__icon:hover {
  background-color: #ea008b;
}
.logo__icon:hover + .logo__label {
  opacity: 1;
}
.wrap {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}
.intro {
  float: left;
  width: 40%;
  margin-right: 10%;
  padding: 40px 0;
  text-align: left;
}
.image {
  width: 50%;
  float: left;
}
