// margins
.inw__margin--ver-20
  margin-top 20px
  margin-bottom 20px

.inw__margin--ver-30
  margin-top 30px
  margin-bottom 30px

.inw__margin--ver-40
  margin-top 40px
  margin-bottom 40px

// position, floating
.inw__block
  display block

.inw__hidden
  display none

// text color
.inw__text--white
  color $color-text-white

.inw__text--magenta
  color $color-magenta

.inw__text--blue
  color $color-blue
